html {
	color: #404040;
	font-family: "Open Sans", sans-serif;
	height: 100%;
	width: 100%;
}

html * {
	box-sizing: border-box;
}

html,
body {
	left: 0;
	margin: 0;
	overflow-x: hidden;
}

@-webkit-keyframes blink {
	0% {
		opacity: 0.8;
	}
	50% {
		opacity: 0.1;
	}
	100% {
		opacity: 0.8;
	}
}

.loader {
	align-items: center;
	background-color: black;
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
}

.loader img {
	-webkit-animation: blink 2.5s;
	-webkit-animation-iteration-count: infinite;
}

.loader h1,
.loader h2 {
	visibility: hidden;
}

section {
	position: relative;
}

#home {
	align-items: center;
	background: url("../img/flower.jpg") no-repeat center fixed;
	background-size: cover;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	margin: 0;
	padding: 0;
}

nav {
	align-items: center;
	background-color: transparent;
	display: flex;
	justify-content: space-between;
	left: 0;
	position: absolute;
	top: 0;
	transition: background-color 0.5s;
	width: 100%;
	z-index: 10;
}

nav ul {
	align-items: center;
	display: flex;
	justify-content: center;
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	align-items: center;
	display: flex;
	font-family: "Open Sans", sans-serif;
	height: 60px;
	justify-content: center;
	line-height: 45px;
	padding: 0 25px;
}

@media screen and (max-width: 768px) {
	nav li {
		height: 50px;
		padding: 0 10px;
	}
}

@media screen and (max-width: 374px) {
	nav li {
		height: 50px;
		padding: 0 5px;
	}
}

nav a {
	color: #fff;
	font-size: 11px;
	letter-spacing: 2px;
	opacity: 0.9;
	text-decoration: none;
	text-transform: uppercase;
	transition: opacity 0.3s ease-out;
}

nav a:hover {
	opacity: 1;
}

@media screen and (max-width: 374px) {
	nav a {
		font-size: 10px;
	}
}

nav.fixed {
	background-color: rgba(0, 0, 0, 0.2);
	position: fixed;
	top: 0;
}

@media screen and (max-width: 768px) {
	.nav__home {
		display: none;
	}
}

.nav__home a.current,
.nav__about a.current,
.nav__services a.current,
.nav__skills a.current,
.nav__portfolio a.current {
	font-weight: bold;
}

.nav__home a.current {
	color: #fff;
}

.nav__about a.current {
	color: #f69027;
}

.nav__services a.current {
	color: #0c539c;
}

.nav__skills a.current {
	color: #569687;
}

.nav__portfolio a.current {
	color: #fab003;
}

#return-home {
	margin-left: 25px;
}

@media screen and (max-width: 768px) {
	#return-home {
		margin-left: 5px;
	}
}

.logo-nav {
	height: 20px;
}

#duContenu {
	background-color: #090d33;
	background-size: cover;
	height: auto;
	padding: 100px 0;
	width: 100%;
}

#duContenu h1 {
	color: white;
	font-family: "Roboto Slab";
	font-weight: 400;
	margin: 70px auto;
	text-align: center;
	width: 75%;
}

#part-2 #duContenu {
	background-color: #524c6e;
}

@media screen and (max-width: 768px) {
	#about::before,
	#services::before,
	#skills::before,
	#portfolio::before,
	.footer__wrapper::before {
		font-size: 30px !important;
		height: 60px !important;
		width: 60px !important;
	}
}

@media screen and (max-width: 360px) and (max-height: 640px) {
	#about::before,
	#services::before,
	#skills::before,
	#portfolio::before,
	.footer__wrapper::before {
		height: 50px !important;
		font-size: 25px !important;
		width: 50px !important;
	}
}

i.fa.fa-angle-down {
	animation: bounce 4s infinite;
	bottom: 40px;
	color: white;
	font-size: 80px;
	height: 40px;
	left: 0;
	right: 0;
	line-height: 40px;
	margin: auto;
	opacity: 0.8;
	position: absolute;
	transition: opacity 0.4s ease-out;
	width: 50px;
}

@media screen and (max-width: 768px) {
	i.fa.fa-angle-down {
		bottom: 15px;
	}
}

i.fa.fa-angle-down:hover {
	opacity: 1;
}

@-webkit-keyframes bounce {
	0%,
	20%,
	60%,
	100% {
		-webkit-transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-20px);
	}
	80% {
		-webkit-transform: translateY(-10px);
	}
}

.logo {
	filter: drop-shadow(5px 5px 5px #000);
	height: 15%;
	margin-bottom: 40px;
	width: auto;
}

.intro-name {
	color: #fff;
	font-family: "Dosis", arial, sans-serif;
	font-size: 30px;
	letter-spacing: 50px;
	margin-bottom: 50px;
	opacity: 0.9;
	text-transform: uppercase;
}

@media screen and (max-width: 768px) {
	.intro-name {
		font-size: 15px;
		letter-spacing: 15px;
		margin-bottom: 30px;
	}
}

@media screen and (max-width: 360px) and (max-height: 640px) {
	.intro-name {
		font-size: 14px;
		letter-spacing: 14px;
	}
}

.intro-text {
	color: white;
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
	font-weight: 100;
	letter-spacing: 2px;
	line-height: 1.2;
	margin-bottom: 5%;
	opacity: 0.7;
}

@media screen and (max-width: 768px) {
	.intro-text {
		font-size: 12px;
	}
}

.social-icons {
	bottom: 15%;
	display: flex;
	position: absolute;
}

.social-icons__icon {
	align-items: center;
	border: 2px solid #fff;
	border-radius: 100%;
	box-shadow: 0 0 20px rgba(255, 255, 255, 0) inset;
	color: #fff;
	display: flex;
	font-size: 16px;
	height: 50px;
	justify-content: center;
	line-height: 45px;
	margin: 5px;
	opacity: 0.7;
	text-decoration: none;
	text-shadow: none;
	transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
	width: 50px;
}

.social-icons__icon:hover {
	opacity: 1;
}

#about {
	align-items: center;
	background: url("../img/graphic-pattern-sepia.jpg") repeat;
	background-color: rgba(255, 255, 255, 0.8);
	background-size: 270px;
	border-top: 4px double #f69027;
	display: flex;
	justify-content: center;
	width: 100%;
}

#about::before {
	align-items: center;
	background-color: white;
	border: 4px double #f69027;
	border-bottom-right-radius: 50%;
	border-bottom-left-radius: 50%;
	color: #f69027;
	content: "\f0f4";
	display: flex;
	font-family: "FontAwesome";
	font-size: 40px;
	height: 80px;
	justify-content: center;
	position: absolute;
	top: -4px;
	width: 80px;
}

#about .fa-angle-down {
	color: #f69027;
}

.about__wrapper {
	align-items: center;
	display: flex;
	margin: auto;
	width: 70%;
}

@media screen and (max-width: 768px) {
	.about__wrapper {
		flex-direction: column;
		width: 90%;
	}
}

@media screen and (max-width: 360px) and (max-height: 640px) {
	.about__wrapper {
		width: 95%;
	}
}

@media screen and (max-width: 1024px) {
	.about__wrapper {
		width: 90%;
	}
}

.about__photo {
	border: 4px solid #f69027;
	border-radius: 50%;
	height: auto;
	margin-right: 50px;
	width: 255px;
}

@media screen and (max-width: 768px) {
	.about__photo {
		height: auto;
		margin-right: 0;
		width: 100px;
	}
}

.about__presentation-container {
	display: flex;
	flex-direction: column;
}

.about__title strong {
	color: #f69027;
}

@media screen and (max-width: 768px) {
	.about__title {
		font-size: 20px;
		text-align: center;
	}
}

@media screen and (max-width: 360px) and (max-height: 640px) {
	.about__title {
		font-size: 17px;
	}
}

.about__presentation {
	border-left: 4px solid #f69027;
	margin: 0;
	padding: 10px 0 10px 15px;
}

.about__presentation:nth-child(2) {
	padding-top: 0;
}

.about__presentation:last-child {
	padding-bottom: 0;
}

@media screen and (max-width: 768px) {
	.about__presentation {
		border: 0;
		font-size: 14px;
		margin: 5px 0;
		padding: 0;
		text-align: justify;
	}
}

@media screen and (max-width: 360px) and (max-height: 640px) {
	.about__presentation {
		font-size: 13px;
		margin: 5px 0;
		text-align: justify;
	}
}

@media screen and (max-width: 768px) {
	.about__presentation--optionnal {
		display: none;
	}
}

#services {
	align-items: center;
	border-top: 4px double #0c539c;
	display: flex;
	justify-content: center;
}

#services::before {
	align-items: center;
	background-color: white;
	border: 4px double #0c539c;
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
	color: #0c539c;
	content: "\f1b3";
	display: flex;
	font-family: "FontAwesome";
	font-size: 40px;
	height: 80px;
	justify-content: center;
	position: absolute;
	top: -4px;
	width: 80px;
}

#services .fa-angle-down {
	color: #0c539c;
}

.services__wrapper {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 70%;
}

@media screen and (max-width: 768px) {
	.services__wrapper {
		width: 95%;
	}
}

@media screen and (max-width: 1024px) {
	.services__wrapper {
		width: 90%;
	}
}

.services__row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
}

.services__item {
	align-items: center;
	display: flex;
	flex: 1;
	flex-direction: column;
	margin: 30px 50px;
}

@media screen and (max-width: 768px) {
	.services__item {
		margin: 10px 5px;
	}
}

.services__icon {
	height: 65px;
}

@media screen and (max-width: 768px) {
	.services__icon {
		height: 55px;
	}
}

.services__name {
	color: #0c539c;
	font-family: "Dosis", arial, sans-serif;
	font-size: 18px;
	letter-spacing: 2px;
	line-height: 28px;
	text-align: center;
	text-transform: uppercase;
}

@media screen and (max-width: 768px) {
	.services__name {
		font-size: 12px;
		line-height: 22px;
	}
}

#skills {
	align-items: center;
	background: url("../img/tech-pattern.jpg") repeat;
	background-color: rgba(255, 255, 255, 0.8);
	background-size: 150px;
	border-top: 4px double #96c4b9;
	display: flex;
	justify-content: center;
	width: 100%;
}

#skills::before {
	align-items: center;
	background-color: white;
	border: 4px double #96c4b9;
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
	color: #96c4b9;
	content: "\f121";
	display: flex;
	font-family: "FontAwesome";
	font-size: 40px;
	height: 80px;
	justify-content: center;
	position: absolute;
	top: -4px;
	width: 80px;
}

#skills .fa-angle-down {
	color: #96c4b9;
}

.skills__wrapper {
	align-items: center;
	background-color: #fff;
	border: solid 4px #d7e9e5;
	border-radius: 4px;
	display: flex;
	height: 60%;
	justify-content: space-around;
	margin: auto;
	width: 70%;
}

@media screen and (max-width: 768px) {
	.skills__wrapper {
		width: 95%;
	}
}

@media screen and (max-width: 1024px) {
	.skills__wrapper {
		width: 90%;
	}
}

#portfolio {
	align-items: center;
	background-color: rgba(255, 255, 255, 0.8);
	border-top: 4px double #fab003;
	display: flex;
	justify-content: center;
	width: 100%;
}

#portfolio::before {
	align-items: center;
	background-color: white;
	border: 4px double #fab003;
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
	color: #fab003;
	content: "\f0b1";
	display: flex;
	font-family: "FontAwesome";
	font-size: 40px;
	height: 80px;
	justify-content: center;
	position: absolute;
	top: -4px;
	width: 80px;
}

#portfolio .fa-angle-down {
	color: #fab003;
}

.portfolio__wrapper {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 30px;
	width: 100%;
}

.portfolio__row {
	align-items: center;
	display: flex;
	height: 33.3%;
	justify-content: center;
	width: 100%;
}

.portfolio__item {
	flex: 4;
	height: 100%;
	margin: 10px 30px;
	width: 40%;
}

.portfolio__item img {
	width: 100%;
}

.portfolio__item--big {
	flex: 6;
	width: 60%;
}

#footer {
	align-items: flex-end;
	background: url("../img/triangle-pattern.jpg") repeat;
	background-size: 150px;
	border-top: 4px double #909090;
	display: flex;
	justify-content: center;
}

.footer__wrapper {
	align-items: center;
	background-color: #fff;
	border-top: 4px double #909090;
	bottom: 0;
	display: flex;
	flex-direction: column;
	height: 65%;
	justify-content: center;
	padding: 100px 0 10px 0;
	position: relative;
	width: 100%;
}

.footer__mail {
	align-items: center;
	background-color: white;
	border: 4px double #909090;
	border-radius: 50%;
	color: #404040;
	display: flex;
	font-size: 40px;
	height: 80px;
	justify-content: center;
	position: absolute;
	text-decoration: none;
	top: -40px;
	width: 80px;
}

@media screen and (max-width: 768px) {
	.footer__mail {
		top: -30px;
	}
}

.footer__logo {
	height: auto;
	margin: 50px 0;
	width: 70px;
}

footer p {
	bottom: 20px;
	font-family: "Dosis", arial, sans-serif;
	font-size: 11px;
	letter-spacing: 0.5em;
	margin-bottom: 20px;
	position: absolute;
	text-transform: uppercase;
}

.footer__social-links {
	color: #404040;
	display: flex;
	font-size: 18px;
	margin-bottom: 90px;
}

.footer__social-links a {
	align-items: center;
	color: #404040;
	display: flex;
	height: 30px;
	justify-content: center;
	line-height: 25px;
	margin: 0 10px;
	position: relative;
	text-align: center;
	text-decoration: none;
	transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
	width: 30px;
}

.footer__social-links a:hover {
	color: #fff !important;
}

.footer__social-links a:hover:before {
	background-color: #404040;
}

.footer__social-links a i {
	z-index: 1;
}

.footer__social-links a i:hover {
	color: #fff;
}

.footer__social-links a:before {
	border: 1px solid #404040;
	border-radius: 2px;
	content: "";
	display: inline-block;
	height: 100%;
	left: auto;
	position: absolute;
	top: auto;
	transform: rotate(45deg);
	transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
	width: 100%;
}

.progress__circle {
	position: relative;
	display: flex;
	justify-content: center;
	margin: 1rem;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	background-color: #eee;
}

@media screen and (max-width: 768px) {
	.progress__circle {
		width: 70px;
		height: 70px;
	}
}

.progress__circle:before {
	content: "";
	position: absolute;
	top: 15px;
	left: 15px;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	background-color: white;
}

@media screen and (max-width: 768px) {
	.progress__circle:before {
		width: 60px;
		height: 60px;
		top: 5px;
		left: 5px;
	}
}

.progress__circle:after {
	content: "";
	display: inline-block;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #96c4b9;
}

.progress__number {
	position: absolute;
	top: 50%;
	width: 100%;
	line-height: 1;
	margin-top: -0.75rem;
	text-align: center;
	font-size: 1.5rem;
	color: #bfe0d9;
	font-family: "Dosis", arial, sans-serif;
	letter-spacing: 2px;
}

@media screen and (max-width: 768px) {
	.progress__number {
		margin-top: -0.6rem;
		font-size: 1.2rem;
	}
}

.progress__line {
	background-color: #bfe0d9;
	display: flex;
	height: 80px;
	justify-content: center;
	position: absolute;
	top: 110%;
	width: 3px;
}

.progress__line::after {
	color: #bfe0d9;
	font-family: "Dosis", arial, sans-serif;
	font-size: 18px;
	letter-spacing: 2px;
	line-height: 25px;
	position: absolute;
	top: 110%;
}

.progress__line--left {
	left: 10px;
	top: 100%;
	transform: rotate(30deg);
}

.progress__line--left::after {
	content: "React";
	transform: rotate(-30deg);
}

.progress__line--middle::after {
	content: "Node.js";
}

@media screen and (max-width: 768px) {
	.progress__line--middle {
		height: 90px;
	}
}

.progress__line--right {
	right: 10px;
	top: 100%;
	transform: rotate(-30deg);
}

.progress__line--right::after {
	content: "MongoDB";
	transform: rotate(30deg);
}

.progress__line--middle-top {
	bottom: 110%;
	height: 40px;
	top: auto;
}

.progress__line--middle-top::after {
	bottom: 110%;
	top: auto;
}

.progress__line--html::after {
	content: "Front";
}

.progress__line--css::after {
	content: "Styling";
}

.progress__line--js::after {
	content: "Front/Back";
}

.projects {
	text-align: center;
}

.progress__circle.progress__circle--0:after {
	background-image: linear-gradient(
			90deg,
			#eee 50%,
			transparent 50%,
			transparent
		),
		linear-gradient(90deg, #96c4b9 50%, #eee 50%, #eee);
}

.progress__circle.progress__circle--5:after {
	background-image: linear-gradient(
			90deg,
			#eee 50%,
			transparent 50%,
			transparent
		),
		linear-gradient(108deg, #96c4b9 50%, #eee 50%, #eee);
}

.progress__circle.progress__circle--10:after {
	background-image: linear-gradient(
			90deg,
			#eee 50%,
			transparent 50%,
			transparent
		),
		linear-gradient(126deg, #96c4b9 50%, #eee 50%, #eee);
}

.progress__circle.progress__circle--15:after {
	background-image: linear-gradient(
			90deg,
			#eee 50%,
			transparent 50%,
			transparent
		),
		linear-gradient(144deg, #96c4b9 50%, #eee 50%, #eee);
}

.progress__circle.progress__circle--20:after {
	background-image: linear-gradient(
			90deg,
			#eee 50%,
			transparent 50%,
			transparent
		),
		linear-gradient(162deg, #96c4b9 50%, #eee 50%, #eee);
}

.progress__circle.progress__circle--25:after {
	background-image: linear-gradient(
			90deg,
			#eee 50%,
			transparent 50%,
			transparent
		),
		linear-gradient(180deg, #96c4b9 50%, #eee 50%, #eee);
}

.progress__circle.progress__circle--30:after {
	background-image: linear-gradient(
			90deg,
			#eee 50%,
			transparent 50%,
			transparent
		),
		linear-gradient(198deg, #96c4b9 50%, #eee 50%, #eee);
}

.progress__circle.progress__circle--35:after {
	background-image: linear-gradient(
			90deg,
			#eee 50%,
			transparent 50%,
			transparent
		),
		linear-gradient(216deg, #96c4b9 50%, #eee 50%, #eee);
}

.progress__circle.progress__circle--40:after {
	background-image: linear-gradient(
			90deg,
			#eee 50%,
			transparent 50%,
			transparent
		),
		linear-gradient(234deg, #96c4b9 50%, #eee 50%, #eee);
}

.progress__circle.progress__circle--45:after {
	background-image: linear-gradient(
			90deg,
			#eee 50%,
			transparent 50%,
			transparent
		),
		linear-gradient(252deg, #96c4b9 50%, #eee 50%, #eee);
}

.progress__circle.progress__circle--50:after {
	background-image: linear-gradient(
			-90deg,
			#96c4b9 50%,
			transparent 50%,
			transparent
		),
		linear-gradient(270deg, #96c4b9 50%, #eee 50%, #eee);
}

.progress__circle.progress__circle--55:after {
	background-image: linear-gradient(
			-72deg,
			#96c4b9 50%,
			transparent 50%,
			transparent
		),
		linear-gradient(270deg, #96c4b9 50%, #eee 50%, #eee);
}

.progress__circle.progress__circle--60:after {
	background-image: linear-gradient(
			-54deg,
			#96c4b9 50%,
			transparent 50%,
			transparent
		),
		linear-gradient(270deg, #96c4b9 50%, #eee 50%, #eee);
}

.progress__circle.progress__circle--65:after {
	background-image: linear-gradient(
			-36deg,
			#96c4b9 50%,
			transparent 50%,
			transparent
		),
		linear-gradient(270deg, #96c4b9 50%, #eee 50%, #eee);
}

.progress__circle.progress__circle--70:after {
	background-image: linear-gradient(
			-18deg,
			#96c4b9 50%,
			transparent 50%,
			transparent
		),
		linear-gradient(270deg, #96c4b9 50%, #eee 50%, #eee);
}

.progress__circle.progress__circle--75:after {
	background-image: linear-gradient(
			0deg,
			#96c4b9 50%,
			transparent 50%,
			transparent
		),
		linear-gradient(270deg, #96c4b9 50%, #eee 50%, #eee);
}

.progress__circle.progress__circle--80:after {
	background-image: linear-gradient(
			18deg,
			#96c4b9 50%,
			transparent 50%,
			transparent
		),
		linear-gradient(270deg, #96c4b9 50%, #eee 50%, #eee);
}

.progress__circle.progress__circle--85:after {
	background-image: linear-gradient(
			36deg,
			#96c4b9 50%,
			transparent 50%,
			transparent
		),
		linear-gradient(270deg, #96c4b9 50%, #eee 50%, #eee);
}

.progress__circle.progress__circle--90:after {
	background-image: linear-gradient(
			54deg,
			#96c4b9 50%,
			transparent 50%,
			transparent
		),
		linear-gradient(270deg, #96c4b9 50%, #eee 50%, #eee);
}

.progress__circle.progress__circle--95:after {
	background-image: linear-gradient(
			72deg,
			#96c4b9 50%,
			transparent 50%,
			transparent
		),
		linear-gradient(270deg, #96c4b9 50%, #eee 50%, #eee);
}

.progress__circle.progress__circle--100:after {
	background-image: linear-gradient(
			90deg,
			#96c4b9 50%,
			transparent 50%,
			transparent
		),
		linear-gradient(270deg, #96c4b9 50%, #eee 50%, #eee);
}

.swiper-container {
	padding-bottom: 50px;
	padding-top: 50px;
	width: 100%;
}

.swiper-slide {
	align-items: center;
	display: flex;
	justify-content: center;
}

.swiper-slide img {
	width: 90%;
}

.swiper-pagination-bullet-active {
	background: #fab003 !important;
}

.swiper-button-prev,
.swiper-button-next {
	background-image: none !important;
}

.swiper-button-prev i,
.swiper-button-next i {
	color: #fab003;
	font-size: 40px;
	font-weight: 100;
}
